<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 | Best Discord List </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/assets/css/notfound.css">
<script src="https://yonle.github.io/RickRoll.js/RickRoll.js"></script>
</head>
<body>
<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode" id="title">404 - Not Found</span></h1>
  <p class="output" id="method"><%= (user)?(user.username+", "):"" %>The page you are looking for (<%= path %>) might have been removed, had its name changed or is temporarily unavailable.</p>
  <p class="output">Please try to <a onclick="goback()">go back</a> or <a href="/">return to the homepage</a>. Alternatively, talk to us on our <a href="/server">server</a> </p>
  <p class="output" id="input" contenteditable="true">$ down</p>
</div>
<script>
 function goback(){
  window.history.go(-1);
 }
 var method=document.getElementById("method");
 var input=document.getElementById("input");
 var title=document.getElementById("title");
 setInterval(()=>{
  if(input.innerText=="$ UP"){
   input.innerText="$ ";
   title.innerText="405 - Method Not Allowed";
   method.innerText="Did you *@#$?! <%= (user)?user.username:"" %>... Well, nevermind.";
  }
  else if(input.innerText=="$ DOWN"){
   input.innerText="$ ";
   title.innerText="404 - Not Found";
   method.innerText="<%= (user)?(user.username+", "):"" %> The page you are looking for (<%= path %>) might have been removed, had its name changed or is temporarily unavailable.";
  }
  else if(input.innerText=="$ LOGIN"){
   title.innerText="Welcome <%= (user)?(user.username+", "):"User, " %> You're on Rovel Stars Terminal At the moment.";
   method.innerText="Commands Available:\n- whoami: sends your terminal username\n- run: run javascript code (not nodejs)\n- play: play terminal games here!";
   input.innerText="$ ";
  }
  else if(input.innerText=="$ RUN"){
   const code = prompt("Enter code to run!");
   (`(async()=>{${code}})()`);
   input.innerText="$ ";
  }
  else if(input.innerText=="$ PLAY"){
   rickroll({mousemove: true, mouseenter: true, click: true});
  }
 }, 1000);
</script>
</body>
</html>
