<%- include('partials/header', {
title: `${bot.tag} - Rovel Discord List`,
desc: `${bot.short}`,
img: bot.avatarURL
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero" style="background-image: url(<%= bot.bg %>); background-size: cover;">
  <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title"><%= bot.username %>
   </h1>
   <h4 class="subtitle">
    <%= bot.short %>
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Prefix</span>
    <span class="tag is-danger"><%= bot.prefix %></span>
    </div>
  </div><br>
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Library</span>
    <span class="tag is-info"><%= bot.lib %></span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Made by</span>
    <span class="tag is-success"><%= bot.owner %></span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">In</span>
    <span class="tag is-link"><%= bot.servers[bot.servers.length].count %> Servers</span>
    </div>
  </div><br>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Votes</span>
    <span class="tag is-info"><%= bot.votes %></span>
    </div>
  </div>
  </div>
  </div>
 </section>
 <br>
 <div class="container" style="overflow: hidden;">
  <div class="section content">
   <%- bot.desc %>
  </div>
 </div>
      <%- include('partials/footer'); %>
</body>
</html>