<%- include('partials/header', {
title: `${bot.tag} Discord Bot | The Best Discord Bot List`,
desc: `${bot.username} is in ${rovel.approx(bot.servers).toUpperCase()} servers, Add It Today! ${bot.short}`,
img: bot.avatarURL,
theme,
imglink: bot.bg
}); %>
<script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "View Bot",
        "item": "https://discord.rovelstars.com/bots/<%= bot.id %>"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Bot",
        "item": "<%= bot.invite %>"
    }]
}
</script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <% if(!bot.added){ %>
<script>
 Swal.fire({icon: "warning", title: "<%= bot.tag %> has not been listed!", text: "Please do not add this bot since it's waiting for approval. You can join our server to get informed about when <%= bot.username %> will be approved. Or just sit back here and scream!", footer: '<a href="/server">Ask us whether is bot is safe or not.</a>'});
</script>
<% } %>
<% if(bot.topgg){ %>
  <script>
   Swal.fire({icon: "info", title: "<%= bot.tag %> has not been added by their real devs!", text: "This bot is not really listed here. It's not saved in our database. It's shown directly from top.gg", footer: '<a href="/server">Discuss with us about this bot or about the DMCA policy.</a>'});
  </script>
  <% } %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero" style="background-image: url(<%= bot.bg %>); background-size: cover;">
  <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="avatar image is-128x128 bot-img" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title bot-name"><%= bot.username %>
   </h1><br />
   <h4 class="subtitle bot-description">
    <%= bot.short %>
   </h4><br />
   <div class="columns buttons">
     <div class="column is-3">
    <a href="<%= bot.invite %>" target="_blank" class="box button is-link has-background-primary">
<span class="icon">
<i class="fad fa-plus-circle has-text-link"></i>
</span>
<span>Add</span>
</a><br />
</div>
<div class="column is-3">
    <a href="/bots/<%= bot.id %>/vote" class="box button is-success has-background-info">
<span class="icon">
<i class="fad fa-caret-circle-up has-text-dark"></i>
</span>
<span>Vote</span>
</a><br />
</div>
</div>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control" id="prefix">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bxs-message-error"></i>&nbsp;Prefix</span>
    <span class="tag is-danger"><%= bot.prefix %></span>
    </div>
  </div><br />
    <div class="control" id="status">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bxs-notification"></i>&nbsp;Status</span>
    <span class="tag is-success"><%= (bot.status)?bot.status:"online" %></span>
    </div>
    </div><br />
   <div class="control" id="lib">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bx-library"></i>&nbsp;Library</span>
    <% if(bot.lib == ""){ %>
    <span class="tag is-info">not known</span>
    <% } else { %>
    <span class="tag is-info"><%= bot.lib %></span>
    <% } %>
    </div>
  </div><br />
  <div class="control" id="owners">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bxs-crown"></i>&nbsp;Made by</span>
    <span class="tag is-success"><%= bot.owner.join(", ") %></span>
    </div>
  </div><br />
  <div class="control" id="servers">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link"><span class="approx-num"><%= (bot.servers)?((bot.servers!=1)?bot.servers:"0"):"0" %></span>&nbsp;Servers
    </span>
    </div>
  </div><br />
  <div class="control" id="votes">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span>
    <span class="tag is-info approx-num"><%= bot.votes %></span>
    </div>
  </div><br /><% if(bot.support){ %>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bx-support"></i>&nbsp;Support Server</span><span class="tag is-primary"><a href="https://discord.gg/<%= bot.support %>" style="color:white;">Join</a></span>
    </div>
    </div><br /><% } %>
    <% if(bot.github){ %>
    <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bxl-github"></i>&nbsp;Github</span><span class="tag is-success"><a href="<%= bot.github %>" style="color:black;">Check Source Code</a></span>
    </div>
  </div>
    <% } %>
    <% if(bot.donate){ %>
    <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bx-money"></i>&nbsp;Donate</span><span class="tag is-warning"><a href="<%= bot.donate %>" style="color:black;">Money</a></span>
    </div>
  </div>
    <% } %>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
 <br />
 <div class="hero">
 <div class="hero-body">
   <% if(bot.card.title){ %>
   <div class="container" style="overflow: hidden;">
  <div class="section content">
   <div class="column is-one-half is-announcement">
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.card.img %>" alt="<%= bot.card.title %>" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">
<span><%= bot.card.title %></span>
</span>
<br />
<span class="has-text-grey-light"><%= bot.card.msg %></span>
</p>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
<% } %>
 <div class="container" style="overflow: hidden;">
  <div class="section content has-background-dark is-curved longdescription table-container">
   <%- bot.desc %>
   </div>
   </div>
   </div>
   </div>
    <%- include('partials/footer'); %>
</body>
</html>