<%- include('partials/header', {
title: `${bot.tag} - Rovel Discord List`,
desc: `${bot.short}`,
img: bot.avatarURL
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-primary" <% if (bot.bg) { %>style="background-image: url(<%= bot.bg %>); background-size: cover; background-position: center"<% } %>
  <div class="hero-body">
   <br>
  <div class="container">
  <div class="columns">
  <div class="column is-2">
   <img class="image" style="margin: auto; width: 128px; border-radius: 50%;" src="<%= bot.avatarURL %>" onerror="this.onerror = null;this.src = '/assets/img/logo.png'">
   </div>
   <div class="column has-text-centered">
          <h1>
        <span><%= bot.name %></span>
      </h1>
    </div>
      <%- include('partials/footer'); %>
</body>
</html>