<%- include('partials/header', {
title: `${bot.tag} - Rovel Discord List`,
desc: `${bot.short}`,
img: bot.avatarURL
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-dark">
  <div class="hero-body">
   <h1 class="title has-text-centered">
    <img class="image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar"><%= bot.username %>
   </h1>
   <h4 class="subtitle has-text-centered has-text-muted">
    <%= bot.short %>
   </h4>
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Prefix</span>
    <span class="tag is-danger"><%= bot.prefix %></span>
    </div>
  </div>
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Library</span>
    <span class="tag is-info"><%= bot.lib %></span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Owner(s)</span>
    <span class="tag is-success"><% bot.owners=bot.owners.join(","); %><%= bot.owners %></span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">In</span>
    <span class="tag is-link"><%= bot.servers %> Servers</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark">Votes</span>
    <span class="tag is-info"><%= bot.votes %></span>
    </div>
  </div>
 </section>
 <br>
 <div class="container" style="overflow: hidden;">
  <div class="section content">
   <%- bot.desc %>
  </div>
 </div>
      <%- include('partials/footer'); %>
</body>
</html>