<%- include('partials/header', {
title: `${bot.tag} - Rovel Discord List`,
desc: `${bot.short}`,
img: bot.avatarURL
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-dark is-medium">
  <div class="hero-body">
   <h1 class="title has-text-centered">
    <img class="image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar"> <br> <%= bot.username %>
   </h1><br>
   <h4 class="subtitle has-text-centered has-text-muted">
    <%= bot.short %>
   </h4>
  </div>
 </section>
 <br>
 <div class="container" style="overflow: hidden;">
  <div class="section content">
   <%- bot.desc %>
  </div>
 </div>
      <%- include('partials/footer'); %>
</body>
</html>