<%- include('partials/header', {
title: `${bot.tag} - Rovel Discord List`,
desc: `${bot.short}`,
img: bot.avatarURL
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-primary">
  <div class="container">
  <div class="columns">
  <div class="column is-2">
   <img class="image" style="margin: auto; width: 128px; border-radius: 50%;" src="<%= bot.avatarURL %>" onerror="this.onerror = null;this.src = '/assets/img/logo.png'">
   <div class="has-text-centered"><h1><%= bot.tag %></h1></div>
   </div>
   </div>
   </div>
 </section>
  <div class="hero-body">
   <br>
    <div class="content">
    <%- bot.desc %>
    </div>
      <%- include('partials/footer'); %>
</body>
</html>