<%- include('partials/header', {
title: "Rovel Discord List - Bots",
desc: "Find the next bot for your server!",
img: "https://cdn.discordapp.com/attachments/775220204699385886/811569300196163604/robot.png"
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <span class="icon is-medium iconalign">
                    <i class="bx bxs-bot" aria-hidden="true" style="color: #7289da"></i>
                </span>
                <br />
                <span>Get your next best bot for your server!</span>
            </h1>
            <h2 class="subtitle">
                Search Bot
            </h2>
            <p class="control has-icons-left has-icons-right">
<input class="input is-rounded is-dark" id="searchInput" placeholder="Input a search phrase" type="text">
<span class="icon is-small is-left">
<i class="bx bxs-search"></i>
</span>
</p>
<br />
</div>
</div>
</section>
<script>
 const input = document.getElementById("searchInput");
 console.log("hmm");
    input.addEventListener("keyup", async (event) => {
        if (event.keyCode === 13) {
            await doSearch();
        } else return;
    });
    async function doSearch(){
     const page = document.getElementById("results");
     page.innerHTML="<p>Searching For Your Query, please wait...<p>";
     fetch("https://discord.rovelstars.com/api/bots?q="+encodeURI(input.value)).then(r=>r.json()).then(bots=>{
     page.innerHTML = bots.map(bot={
       `<div class="column is-one-third is-bot-card">\n<div class="box has-background-dark" style="overflow: hidden; height: 100%;">\n<article class="media">\n<div class="media-left">\n<figure class="image is-64x64">\n<img width="64" height="64" class="is-rounded" loading="lazy" src="${bot.avatarURL}" alt="${bot.username} Avatar" onerror="this.onerror=null;this.src='/assets/img/logo.png';">\n</figure>\n</div>\n<div style="overflow: hidden;" class="media-content">\n<div class="content">\n<p>\n<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">\n<span>${ bot.username }#<span class="has-text-grey">${ bot.discriminator }</span></span>\n</span>\n<br />\n<span class="has-text-grey-light">${ bot.short }</span>\n</p>\n</div>\n<div class="content-footer">\n<div class="buttons">\n<a href="/bots/${ bot.id }" class="box button is-info is-outlined">\n<span class="icon">\n<i class="bx bxs-envelope-open"></i>\n</span>\n<span>View</span>\n</a>\n<a href="${bot.invite}" class="box button is-link is-outlined">\n<span class="icon">\n<i class="bx bxs-plus-circle"></i>\n</span>\n<span>Add</span>\n</a>\n</div>\n</div>\n</article>\n</div>\n</div>`
      }).join("/n");
     });
    }
</script>
<div class="container is-fluid">
 <div class="columns is-multiline is-centered" id="results">
  <%- bots.map(bot => include('partials/card', {bot})).join(""); %>
  </div>
</div>
 <%- include('partials/footer'); %>
</body>
</html>