<%- include('partials/header', {
title: "Rovel Discord List - Bots",
desc: "Find the next bot for your server!",
img: "https://discord.rovelstars.com/assets/img/bot/logo-512.png",
theme,
imglink: undefined
}); %>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://discord.rovelstars.com"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Bots",
        "item": "https://discord.rovelstars.com/bots"
    }]
}
</script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                    <img class="emoji-double" src="/assets/img/logo.svg" />
                <br />
                <span>Get your next best bot for your server!</span>
            </h1>
            <h2 class="subtitle">
                Search Bot
            </h2>
            <p class="has-text-centered control has-icons-left has-icons-right">
<input class="input is-rounded is-grey-white" id="searchInput" placeholder="Input a search phrase" type="text">
<span class="icon is-small is-left">
<img class="emoji-double" src="/assets/img/discord-copyright/asset_no_results_dark.png" />
</span>
</p>
<style>#searchInput{transistion: width 0.4s ease-in-out;}#searchInput:focus{width: 80%;}</style>
<br />
</div>
</div>
</section>
<div class="container is-fluid">
 <div class="section">
                <h2 class="is-size-3 has-text-centered" id="results-title">
                    <span><img class="logo" src="/assets/img/popularity.svg" />&nbsp;New Bots</span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered" id="results">
  <%- bots.map(bot => include('partials/botCard', {bot})).join(""); %>
  </div>
</div>
</div>
<script>
let input = document.getElementById("searchInput");
let page = document.getElementById("results");
input.addEventListener("keyup", async (event) => {
        if (event.keyCode === 13) {
          await doSearch();
        } else return;
    });

    function doSearch(){
     document.getElementById("loadtext").innerText="Searching for your query!"
     $("#object").fadeIn();
     $("#loading").fadeIn();
     document.getElementById("results-title").innerHTML="";
     fetch("https://discord.rovelstars.com/api/bots?q="+encodeURI(input.value)).then(r=>r.json()).then(bots=>{
      $("#object").fadeOut();
      $("#loading").fadeOut();
     if(!bots.length){ page.innerHTML = "<p>Uh Oh! No Bots found related to your query! 😔";twemoji.parse(document.body);}
     else {
      document.getElementById("results-title").innerHtml="";
     page.innerHTML = bots.map(bot=>`<div class="column is-one-third is-bot-card">\n<div class="box has-background-dark" style="overflow: hidden; height: 100%;">\n<article class="media">\n<div class="media-left">\n<figure class="image is-64x64 is-avatar">\n<img width="64" height="64" class="is-rounded" loading="lazy" src="${bot.avatarURL}" alt="${bot.username} Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';"><div class="status-${(bot.status)?bot.status:"online"}"></div>\n</figure>\n</div>\n<div style="overflow: hidden;" class="media-content">\n<div class="content">\n<p>\n<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">\n<span>${ bot.username }#<span class="has-text-grey-light">${ bot.discriminator }</span></span>\n</span>\n<br />\n<span class="has-text-grey-light">${ bot.short }</span>\n</p>\n<br /><div class="field is-grouped is-grouped-multiline"><div class="control"><div class="tags has-addons"><span class="tag is-black"><i class="bx bxs-server"></i>&nbsp;In</span><span class="tag is-link">${ (bot.servers)?((bot.servers!=1)?bot.servers:"???"):"???" } Servers</span></div></div><br /><div class="control"><div class="tags has-addons"><span class="tag is-black"><i class="bx bxs-chevron-up-circle"></i>&nbsp;Votes</span><span class="tag is-info">${bot.votes}</span></div></div><br /></div></div>\n<div class="content-footer">\n<div class="buttons">\n<a href="/bots/${ bot.id }" class="box button is-info is-outlined">\n<span class="icon">\n<i class="bx bxs-detail"></i>\n</span>\n<span>View</span>\n</a>\n<a href="${bot.invite}" target="_blank" class="box button is-link is-outlined">\n<span class="icon">\n<i class="bx bxs-plus-circle"></i>\n</span>\n<span>Add</span>\n</a>\n</div>\n</div>\n</article>\n</div>\n</div>`).join("");}
     });
      }
</script>
 <%- include('partials/footer'); %>
</body>
</html>