<%- include('partials/header', {
title: (req.query.q)?`Find Bots Related to ${req.query.q} on The Best Discord List!`:"Bots | The Best Discord Bot List",
desc: (req.query.q)?`Showing Bots for the search term "${req.query.q}" !`:"Find the Next Bot to use on The Best Discord Bot List",
img: "https://discord.rovelstars.com/assets/img/bot/logo-512.png",
theme,
imglink: undefined
}); %>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://discord.rovelstars.com"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Bots",
        "item": "https://discord.rovelstars.com/bots"
    }]
}
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://discord.rovelstars.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "https://discord.rovelstars.com/bots?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }
    }
    </script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                    <img class="emoji-double" src="/assets/img/logo.svg" />
                <br />
                <span>Get your next best bot for your server!</span>
            </h1>
            <h2 class="subtitle">
                Search Bot
            </h2>
            <p class="has-text-centered control has-icons-left has-icons-right">
<input class="input is-rounded is-grey-white" id="searchInput" placeholder="Input a search phrase" type="text">
<span class="icon is-small is-left">
<img class="emoji-double" src="/assets/img/discord-copyright/asset_no_results_dark.png" />
</span>
</p>
<br />
</div>
</div>
</section>
<div class="container is-fluid">
 <div class="section">
                <h2 class="is-size-3 has-text-centered" id="results-title">
                    <span><img class="logo" src="/assets/img/popularity.svg" />&nbsp;New Bots</span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered" id="results">
  <%- bots.map(bot => include('partials/newbotCard', {bot})).join(""); %>
  </div>
</div>
</div>
<script>
    
let input = document.getElementById("searchInput");
let page = document.getElementById("results");
input.addEventListener("keyup", async (event) => {
        if (event.keyCode === 13) {
          //await doSearch();
          const urlParams = new URLSearchParams(window.location.search);
          urlParams.set('q', document.getElementById("searchInput").value);
          window.location.search = urlParams;
        } else return;
    });

    function doSearch(){
     document.getElementById("loadtext").innerText="Searching for your query!"
     $("#loading").style.display="";
     $("#loading").style.opacity="1";
     document.getElementById("results-title").innerHTML="";
     fetch("/api/bots?q="+encodeURI(input.value)).then(r=>r.json()).then(bots=>{
      $("#loading").style.opacity="0";
      $("#loading").style.display="none";
      if(!bots.length){ page.innerHTML = "<p>Uh Oh! No Bots found related to your query! 😔</p></ br>"+page.innerHTML;twemoji.parse(document.body);}
     else {
      document.getElementById("results-title").innerHtml="";
      bots = bots.map(b=>{
          if(!b.avatarURL){
            if (
    b.avatar == "1" ||
    b.avatar == "2" ||
    b.avatar == "3" ||
    b.avatar == "4"
  )
    return `https://cdn.discordapp.com/embed/avatars/${b.avatar}.png`;
  var ani = false;
  if (b.avatar?.startsWith("a_")) ani = true;
  const aniurl = `https://cdn.discordapp.com/avatars/${b.id}/${b.avatar}.gif`;
  const nonurl = `https://cdn.discordapp.com/avatars/${b.id}/${b.avatar}.png`;
  b.avatarURL = ani ? aniurl : nonurl;
          }
          return b;
      })
     page.innerHTML = bots.map(bot=>`<div class="bot-card"><figure class="image is-64x64 bc-avatar is-avatar"><img width="64" height="64" class="is-rounded" loading="lazy" src="${ bot.avatarURL.replace(".png",".webp") }" alt="${ bot.username } Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';"><div class="status-${ (bot.status)?bot.status:"online" }"></div></figure><span class="username"><span>${ bot.username }</span></span><div class="bc-content has-background-dark" style="background-image:url(${ bot.bg || "" });background-size:cover"><div class="info"><div class="control"><div class="tags has-addons"><span class="tag is-black"><i class="fad fa-server has-text-link"></i>&nbsp;In</span><span class="tag is-link"><span class="approx-num">${ (bot.servers)?((bot.servers!=1)?bot.servers:"0"):"0" }</span>&nbsp; Servers</span></div></div><div class="control"><div class="tags has-addons"><span class="tag is-black"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span><span class="tag is-info approx-num">${ bot.votes }</span></div></div></div><div class="description has-background-dark is-curved" style="opacity: 0.9;border-radius: 5px;"><p style="font-family: K2D;padding: 10px 10px;">${ bot.short }</p></div><div class="bc-buttons"><a href="/bots/${ bot.id }" class="box button is-info is-outlined" style=":hover{border-color:#9b84ee;}"><span class="icon"><i class="fad fa-newspaper has-text-info"></i></span><span>View</span></a><a href="${ bot.invite }" target="_blank" class="box button is-link is-outlined"><span class="icon"><i class="fad fa-plus-circle has-text-link"></i></span><span>Add</span></a></div></div></div>`).join("");
      $$(".approx-num").forEach(e=>{e.innerText=approx(e.innerText,{capital: true})});
     }
     });
      }
      if(new URLSearchParams(window.location.search).get("q")){
        document.getElementById("searchInput").value=new URLSearchParams(window.location.search).get("q");
        doSearch();
    }
</script>
 <%- include('partials/footer'); %>
</body>
</html>