<%-  include('partials/header', {
title: `Vote for ${bot.tag} - Rovel Discord List`,
desc: `Who's gonna vote ${bot.tag}?`,
img: bot.avatarURL,
theme
}); %>
</head>
<body>
 <script>
  function addVote(){
   var coins = document.getElementById("coins");
   fetch(`https://discord.rovelstars.com/api/bots/<%= bot.id %>/vote?coins=${coins.value}`).then(r=>r.json()).then(d=>{
    if(d.err){
     var title = d.err.split("_").join(" ").toUpperCase()
     Swal.fire({icon: "error", title,  footer: '<a href="/server">Why do I have this error?</a>'});
    }
    else{
     Swal.fire({icon: "success", title: `You Voted <%= bot.username %> with R$ ${coins.value}!`}).then(()=>{
       window.location="https://discord.rovelstars.com/bots/<%= bot.id %>"
     })
    }
   })
  }
 </script>
  <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
  <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="avatar image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title"><%= bot.username %>
   </h1><br />
   </div>
   </div>
   <div class="section">
   <h2>How much are you gonna spend today for voting <strong><%= bot.username %></strong>?</h2>
   <br />
   <form onsubmit="return false;">
      <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="coins" placeholder="You have <%= user.bal %> coins at the moment.">
   <span class="icon is-small is-left has-text-white">
    <i class="bx bx-money"></i>
   </span>
  </p>
   </form>
   <br />
   <div class="has-text-centered">
     <button class="button is-success has-text-white" onclick="addVote()"><i class="bx bxs-chevron-up-circle"></i>Vote</button>
     </div>
   </div>
   </div>
   </div>
   </section>
 <%- include('partials/footer'); %>
</body>
</html>