<%- include('partials/header', {
title: "Dashboard - Rovel Discord List",
desc: "Im sure you can't read this hehe",
img: `${user.avatarUrl(128)}`
}); %>
</head>
<body>
 <%- include('partials/load'); %>
 <%- include('partials/navbar', {user}); %>
 <script>
  function sync(){
   var sc = document.getElementById("sync");
   sc.innerText="In Progress...";
   fetch("https://discord.rovelstars.com/api/users/<%= user.id %>/sync").then(r=>r.text()).then(d=>{
    if(d.success){
     sc.innerText="Success!";
     setTimeOut(()=>{
      sc.innerText = "Data";
     }, 5000);
    }
    if(d.err){
     sc.innerText="Failed to update data!";
     setTimeOut(()=>{
      sc.innerText = "Data";
     }, 5000);
    }
   })
  }
 </script>
 <section class="hero has-background-black">
  <div class="hero-body">
  <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= user.avatarUrl() %>" alt="<%= user.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title"> Welcome To Your Dashboard <%= user.username %><span class="text-muted">#<%= user.discriminator %>
   </h1><br />
   <h4 class="subtitle">
    Here you can manage your Account, Bots, and Servers!
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control" onclick="sync()">
    <div class="tags has-addons">
    <span class="tag is-dark">Sync</span>
    <span class="tag is-success" id="sync">Data</span>
    </div>
  </div><br />
  <div class="flied is-grouped is-grouped-multiline">
   <div class="control">
    <div clas="tag has-addons">
     <span class="tag is-dark">Balance</span>
     <span class="tag is-danger">R$ <%= user.bal %></span>
    </div>
   </div>
  </div>
  </div>
  </div>
  </div>
  </div>
 </section>
 <div class="container is-fluid">
  <br />
  <br />
  <h2 class="title">Your Bots</h2>
 <div class="columns is-multiline is-centered">
  <% for(const bot of bots){ %>
  <div class="column is-one-third" is-bot-card>
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.avatarURL %>" alt="<%= bot.username %> Avatar" onerror="this.onerror=null;this.src='/assets/img/logo.png';">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">
<span><%= bot.username %>#<span class="has-text-grey-light"><%= bot.discriminator %></span></span>
</span>
<br />
<span class="has-text-grey-light"><%= ((bot.short.length>62)?(bot.short.slice(0,62)+"..."):bot.short) %></span>
</p>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/bots/<%= bot.id %>" class="box button is-info is-outlined">
<span class="icon">
<i class="bx bxs-detail"></i>
</span>
<span>View</span>
</a>
 <a href="/dashboard/bots/edit/<%= bot.id %>" class="box button is-link is-outlined">
<span class="icon">
<i class="bx bxs-pencil"></i>
</span>
<span>Edit</span>
</a>
</div>
</div>
</article>
</div>
</div>
  <% } %>
  <div class="column is-one-third" is-bot-card>
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<img width="64" height="64" class="is-rounded" loading="lazy" src="/favicon.ico" alt="New Bot Avatar" onerror="this.onerror=null;this.src='/assets/img/logo.png';">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">
<span>New Bot#<span class="has-text-grey-light">0000</span></span>
</span>
<br />
<span class="has-text-grey-light">Want to add a new bot to RDL? Let's start this new journey of getting your bot become popular!</span>
</p>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/dashboard/bots/new" class="box button is-info is-outlined">
<span class="icon">
<i class="bx bxs-plus-circle"></i>
</span>
<span>Add New Bot</span>
</a>
 <a href="https://discord.gg/953XCpHbKF" target="_blank" class="box button is-link is-outlined">
<span class="icon">
<i class="bx bx-code-alt"></i>
</span>
<span>Make Bot!</span>
</a>
</div>
</div>
</article>
</div>
</div>
  </div>
  </div>
 <%- include('partials/footer'); %>
</body>
</html>