<%- include('partials/header', {
title: "Dashboard | Best Discord List",
desc: "Im sure you can't read this hehe",
img: `${user.avatarUrl(128)}`,
theme,
imglink: undefined
}); %>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero has-background-black">
  <div class="hero-body">
  <div class="container">
    <div class="columns">
     <div class="column is-2">
      <figure class="image is-128x128" style="margin:auto;border-radius:50%">
<img class="is-rounded" loading="lazy" src="<%= user.avatarUrl() %>" alt="<%= user.tag %> Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
<div class="status-<%= (user.status)?user.status:"offline" %>" style="width:30px;height:30px;"></div>
</figure>
     </div>
     <div class="column is-10">
         <h1 class="title">Welcome To Your Dashboard <%= user.username %><span class="text-muted">#<%= user.discriminator %>
   </h1><br />
   <h4 class="subtitle">
    Here you can manage your Account, Bots, and Servers!
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control" onclick="syncfun()">
    <div class="tags has-addons">
    <span class="tag is-outlined">Sync</span>
    <span class="tag is-success" id="sync">Data</span>
    </div>
  </div>
   <div class="control">
    <div class="tags has-addons">
     <span class="tag is-outlined">Balance</span>
     <span class="tag is-danger" id="bal">R$ <span class="approx-num"><%= (user.bal)?user.bal.toString():"0" %></span></span>
    </div>
  </div>
  <% var thatdumbid = `_${Math.floor(Math.random()*1000)}captcha${Math.round(Math.random()*500)}` %>
    <% var earnfun = `_${Math.floor(Math.random()*1000)}earntheshit${Math.round(Math.random()*500)}` %>
  <div class="control" onclick="<%= thatdumbid %>()">
    <div class="tags has-addons">
    <span class="tag is-outlined" id="earn">Earn</span>
    <span class="tag is-success"> R$</span>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
 </section>
 <div class="container is-fluid">
  <br />
  <br />
  <% if(bots.length>0){ %>
  <h2 class="title">Your Bots</h2>
 <div class="columns is-multiline is-centered">
  <% for(const bot of bots){ %>
<div class="bot-card">
<figure class="image is-64x64 bc-avatar is-avatar">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.avatarURL.replace(".png",".webp") %>" alt="<%= bot.username %> Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
<div class="status-<%= (bot.status)?bot.status:"online" %>"></div>
</figure>
 <span class="username">
<span><%= bot.username %></span>
</span>
 <div class="bc-content has-background-dark" 
style="background-image:url(<%= bot.bg || "" %>);background-size:cover">
  <div class="info">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link"><span class="approx-no"><%= (bot.servers)?((bot.servers!=1)?bot.servers:"0"):"0" %></span> &nbsp;Servers
    </span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-caret-circle-up has-text-dark"></i>&nbsp;Votes</span>
    <span class="tag is-info approx-num"><%= bot.votes %></span>
    </div>
  </div>
   </div>
   <div class="description has-background-dark is-curved" style="opacity: 0.9;border-radius: 5px;">
    <p style="font-family: K2D;padding: 10px 10px;"><%= bot.short %></p>
   </div>
   <div class="bc-buttons">
<a href="/bots/<%= bot.id %>" class="box button is-info is-outlined" style=":hover{border-color:#9b84ee;}">
<span class="icon">
<i class="fad fa-newspaper has-text-info"></i>
</span>
<span>View</span>
</a>
 <a href="/dashboard/bots/edit/<%= bot.id %>" class="box button is-link is-outlined">
<span class="icon">
<i class="bx bxs-pencil"></i>
</span>
<span>Edit</span>
</a>
    </div>
 </div>
</div>
  <% } } else { %>
  <h2 class="title">You do not have any bots on rdl</h2>
  <span class="subtitle">Why don't you learn to make a bot and add it here?</span>
  <% } %>
  <div class="bot-card">
<figure class="image is-64x64 bc-avatar is-avatar">
<img width="64" height="64" class="is-rounded" loading="lazy" src="/assets/img/bot/profile.svg" alt="Rovel Discord List Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
<div class="status-<%= "online" %>"></div>
</figure>
 <span class="username">
<span>New Bot<span class="has-text-grey-light">#0000</span></span>
</span>
 <div class="bc-content has-background-dark" 
style="background-image:url(.svg);background-size:cover">
  <div class="info">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link">0 Servers
    </span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span>
    <span class="tag is-info">0</span>
    </div>
  </div>
   </div>
   <div class="description has-background-dark is-curved" style="opacity: 0.9;border-radius: 5px;">
    <p style="font-family: K2D;padding: 10px 10px;">Import or Add your bot to RDL and get popular! We can't wait to see you become successful 😉</p>
   </div>
   <div class="bc-buttons">
<a href="/dashboard/bots/new" class="box button is-info is-outlined">
<span class="icon">
<i class="fad fa-plus-circle has-text-info"></i>
</span>
<span>Add</span>
</a>
<a href="/dashboard/bots/import" class="box button is-link is-outlined">
<span class="icon">
<i class="fad fa-cloud-download has-text-link"></i>
</span>
<span>Import</span>
</a>
    </div>
 </div>
</div>
</div>
  </div>
   <script>
   var <%= thatdumbid %> = function(){
     var numb = Math.round(Math.random()*10);
     var dumb = Math.round(Math.random()*10);
     var operator = (Math.round(Math.random()*1)==1)?"+":"-";
     Swal.fire({
  title: `Solve this problem to continue: ${numb} ${operator} ${dumb}`,
  input: 'text',
  inputAttributes: {
    autocapitalize: 'off'
  },
  showCancelButton: true,
  confirmButtonText: 'Done!',
  showLoaderOnConfirm: true,
  }).then((result) => {
  if (result.isConfirmed) {
    var ans = (operator=="+")?(parseInt(numb)+parseInt(dumb)):(parseInt(numb)-parseInt(dumb));
    if(ans==result.value) <%= earnfun %>();
    else {
      Swal.fire('Incorrect Answer','Try again!','error');
    }
  }
})
   }
    var <%= earnfun %> = function(){
    $("#earn").innerText="Earning...";
    fetch("/api/auth/earn").then(r=>r.json()).then(d=>{
     if(d.err){
      Swal.fire({title:"Error",icon:"error",text:d.err.replace("_").join(" ")}).then(()=>{
      $("#earn").innerText="Failed. Try again to earn";
      });
     }
     else{
      Swal.fire({title:"Success!",icon:"success",text:`You've earned R$ ${d.coins} ${(d.lis)?"and thanks for keeping link in status! You recieved more R$ because of that!":", ps: add our dscrdly.com link in your status and recieve more R$!"}`}).then(()=>{
      $("#bal").innerText=`R$ ${d.approxbal}`;
     $("#earn").innerText="After 1 minute you can earn again";
      });
     }
     setTimeout(()=>{$("#earn").innerText="Earn"},60*1000);
    })
   }
  var syncfun = function(){
   var sc = document.getElementById("sync");
   sc.innerText="In Progress...";
   fetch("/api/users/<%= user.id %>/sync").then(r=>r.json()).then(d=>{
    if(d.success){
     sc.innerText="Successful!";
     setTimeout(()=>{
      sc.innerText = "Data";
     }, 5000);
    }
    if(d.err=="same_data"){
     sc.innerText="Same Data!";
     setTimeout(()=>{
      sc.innerText = "Data";
     }, 5000);
    }
    else{
     sc.innerText="Failed!";
     setTimeout(()=>{
      sc.innerText = "Data";
     }, 5000);
    }
   })
  }
  <% if(notjoined){ %>
  Swal.fire({title: "JOIN OUR SERVER", icon:"info", text:"Hey there, we recommend you to join our server so you can earn bonus, add bots, emojis, etc, and also we can help you if you're stuck anywhere",footer: '<a href="/server">Join our server</a>'});
  <% } %>
 </script>
 <%- include('partials/footer'); %>
</body>
</html>