<%- include('partials/header', {
title: `Edit ${bot.tag} | Best Discord List`,
desc: "The next gen all-in-one Discord List for Emojis, Users, Servers and Bots! Find the best stuff for yourself here! Or reach the top of the leaderboard with your friends!",
img: "https://discord.rovelstars.com/assets/img/bot/logo-512.png",
theme,
imglink: undefined
}); %>
<% bot.owners.shift() %>
<script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.3/marked.min.js" integrity="sha512-t1jq1b5U4hgz4lQoeyRD9QiVu99KxjyA939fnND+R+gLOHmuT5F9YFHJI1Nse1B1QG6/U11SPAc8fshYshb6MA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.27.5/sanitize-html.min.js" integrity="sha512-1WdDeZGPykoWawFKD3NGJfZM+4hq2+OxUF8ZJrrqFBNU3J+Q5Tgvn+XwHNt8HaVs1MRFFlAgtOgyJr6/mqN/xw==" crossorigin="anonymous"></script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero is-black">
<div class="hero-body">
<br />
<div class="container has-text-centered">
<h1 class="title">
<span class="icon is-large">
<i aria-hidden="true" class="bx bxs-pencil has-text-warning"></i>
</span>
<br />
<span>Edit <%= bot.tag %> Bot</span>
</h1>
<h2 class="subtitle has-text-grey-light"><span>
You're currently editing <%= bot.tag %> ( <%= bot.id %> )
</span></h2>
</div>
</div>
</section>
<div class="container">
<div class="section">
<form onsubmit="return false;">
<h1 class="is-size-3 has-text-default">
General Information
</h1>
<br />
  <p>Bot Library</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botlib" placeholder="discord.js" value="<%= bot.lib %>">
   <span class="icon is-small is-left">
    <i class="bx bx-library"></i>
   </span>
  </p>
  <br />
  <p>Bot Owners</p>
  <p class="has-text-grey-light">Separate owner IDs with comma "," also don't give your id, cause you're the owner already.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botowners" placeholder="1234567890,1234567890" value="<%= bot.owners.join(",") %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-crown"></i>
   </span>
  </p>
  <br />
  <p>Short Description</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botshort" placeholder="This bot can play music and can make your server active!" value="<%= bot.short %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-binoculars"></i>
   </span>
  </p>
  <br />
  <p>Long Description</p>
  <p>
   <div class="desc-live">
   <textarea style="width:100%;" class="textarea" name="botdesc" id="botdesc" placeholder="Supports markdown, html, css styles and iframe. Javascript not supported."><%= bot.desc %></textarea>
   </div>
     <br />
  <p>Webhook URL</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botwh" placeholder="http/https server link" value="<%= bot.webhook %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-image"></i>
   </span>
  </p>
  <br />
  <p>Background Image</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botbg" placeholder="Image link" value="<%= bot.bg %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-image"></i>
   </span>
  </p>
  <br />
  <p>Bot Prefix</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botprefix" placeholder="!" value="<%= bot.prefix %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-message-error"></i>
   </span>
  </p>
  <br />
  <p>Github Source Code</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botgithub" placeholder="https://github.com/rovelstars/discord-list" value="<%= bot.github %>">
   <span class="icon is-small is-left">
    <i class="bx bxl-github"></i>
   </span>
  </p>
  <br />
  <p>Support Server</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botsupport" placeholder="https://discord.gg/eWbt297SkU" value="<%= bot.support %>">
   <span class="icon is-small is-left">
    <i class="bx bx-support"></i>
   </span>
  </p>
  <br />
  <p>Website</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botwebsite" placeholder="https://discord.rovelstars.com" value="<%= bot.website %>">
   <span class="icon is-small is-left">
    <i class="bx bx-world"></i>
   </span>
  </p>
  <br />
  <p>Donate</p>
  <p class="has-text-grey-light">Not necessary to provide one.</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botdonate" placeholder="paypal, patreon, etc." value="<%= bot.donate %>">
   <span class="icon is-small is-left">
    <i class="bx bx-money"></i>
   </span>
  </p>
  <br />
  <p>Bot Invite Link</p>
  <p class="control has-icons-left">
   <input class="input has-background-black has-text-white" id="botinvite" placeholder="https://discord.com/api/oauth2/authorize..." value="<%= bot.invite %>">
   <span class="icon is-small is-left">
    <i class="bx bxs-plus-square"></i>
   </span>
  </p>
</div>
</form>
<br />
<div class="has-text-centered">
 <button class="button is-success has-text-white" onclick="editBot()" id="submitbutton">Edit Bot</button>
</div>
<br />
<div class="preview">
 <center><p> -Live Preview - </p></center>
 <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="avatar image is-128x128 bot-img" id="bot-avatar" style="margin: auto; border-radius: 50%;" src="<%= bot.avatarURL %>" alt="<%= bot.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title bot-name" id="bot-username"><%= bot.username %>
   </h1><br />
   <h4 class="subtitle bot-description" id="bot-short">
    Sample Bot Description
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bxs-message-error"></i>&nbsp;Prefix</span>
    <span class="tag is-danger" id="bot-prefix">Bot Prefix</span>
    </div>
  </div><br />
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bx-library"></i>&nbsp;Library</span>
    <span class="tag is-info" id="bot-lib">not known</span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="bx bxs-crown"></i>&nbsp;Made by</span>
    <span class="tag is-success">shown after bot is added</span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link">0 Servers
    </span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span>
    <span class="tag is-info">0</span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bx-support"></i>&nbsp;Support Server</span><span class="tag is-primary">
    <a id="bot-support" href="" style="color:white;">Join</a></span></div>
    </div><br />
    <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bxl-github"></i>&nbsp;Github</span><span class="tag is-success">
    <a id="bot-github" href="" style="color:black;">Check Source Code</a></span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-dark" style="color:white;"><i class="bx bx-money"></i>&nbsp;Donate</span><span class="tag is-warning">
    <a id="bot-donate" href="" style="color:black;">Money</a></span>
    </div>
  </div><br />
  </div>
  </div>
  </div>
 <br />
 <div class="container" style="overflow: hidden;">
  <div class="section content has-background-dark is-curved longdescription table-container" id="livedesc">
   Bot Description
  </div>
 </div>
</div>
</div>
</div>
</div>
</div>
<script>
var botdesc = document.getElementById("botdesc");
var visualizer = document.getElementById("livedesc");

var owners=["<%= bot.mainowner %>"];
var botowners = document.getElementById("botowners");
botowners.addEventListener("keyup", async(e)=>{
 var temp;
 temp = botowners.value.split(",").map(s=>s.trim());
 for(i=0;i<temp.length;i++){
  owners.push(temp[i]);
 }
});

var botshort = document.getElementById("botshort");
botshort.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-short").innerText=botshort.value;
});

var botwh = document.getElementById("botwh");

var botprefix = document.getElementById("botprefix");
botprefix.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-prefix").innerText=botprefix.value;
});

var botlib = document.getElementById("botlib");
botlib.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-lib").innerText=botlib.value;
});

var botbg = document.getElementById("botbg");

var botsupport = document.getElementById("botsupport");
botsupport.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-support").href=botsupport.value;
});

var botgithub = document.getElementById("botgithub");
botgithub.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-github").href=botgithub.value;
});

var botdonate = document.getElementById("botdonate");
botgithub.addEventListener("keyup", async(e)=>{
 document.getElementById("bot-donate").href=botdonate.value;
});

var botinvite = document.getElementById("botinvite");

botdesc.addEventListener("keyup",async (e) => {
   const dirtyhtml = marked(botdesc.value.replaceAll(/&gt;+/g, ">").replaceAll(/&lt;+/g, "<"));
   const noicehtml = sanitizeHtml(dirtyhtml, {
     allowedTags: sanitizeHtml.defaults.allowedTags.concat(['discord-message','discord-messages', 'img','iframe', 'style', 'h1', 'h2', 'link', 'mark', 'svg', 'span']),
     allowVulnerableTags: true,
     allowedAttributes: {
      '*': ["*"]
     }
    });
    visualizer.innerHTML = noicehtml;
    $$("table").forEach(e=>{e.classList.toggle("table", true)})
    Prism.highlightAll();
    twemoji.parse(document.body, emojiopts);
    var theme = document.getElementById("meta-theme");
    if(theme){
     theme.style.display="none";
     const color = theme.innerText;
     document.querySelector('meta[name="theme-color"]').setAttribute('content',color);
     document.querySelector('meta[name="theme-color"]').setAttribute('msapplication-navbutton-color',color);
     var nav = document.getElementsByClassName("navbar is-fixed-top");
  nav[0].style.backgroundColor = color;
    }
});
function editBot(){
 var submitbutton = document.getElementById("submitbutton");
 submitbutton.classList.add("is-loading");
 fetch("/api/bots/edit",{
  method: "POST",
  redirect: "follow",
  referrer: "https://discord.rovelstars.com/api/bots/edit",
  headers: {
   "content-type":"application/json"
  },
  body: JSON.stringify({
  "id": "<%= bot.id %>",
 "lib": botlib.value,
 "owners": owners,
 "short": botshort.value,
 "desc": botdesc.value,
 "bg": botbg.value,
 "webhook": (botwh.value=="")?undefined:botwh.value,
 "prefix": botprefix.value,
 "support": botsupport.value,
 "github": botgithub.github,
 "website": botwebsite.value,
 "donate": botdonate.value,
 "invite": botinvite.value
  })
 }).then(r=>r.json()).then(d=>{
  submitbutton.classList.remove("is-loading");
  if(d.err){
   let err;
   var title = d.err.split("_").join(" ").toUpperCase();
   if(d.err=="bot_not_found"){
    err="Uh, What happened actually? Please contact our support team.."
   }
   if(d.err=="bot_already_added"){
    err="The Bot Has Been Added To Our List."
   }
   if(d.err=="cannot_add_user"){
    err="We cannot add a user as a bot"
   }
   if(d.err=="cannot_add_invalid_user"){
    err="The ID you gave is invalid"
   }
   if(d.err=="invalid_bg"){
    err="The Background Image is invalid"
   }
   if(d.err=="no_owners"){
    err="Huh? Did you Messed with the site or what?!"
   }
   if(d.err=="no_short"){
    err="Please Write Short Description"
   }
   if(d.err=="invalid_short"){
    err="Short Description should be atleast 10 characters long"
   }
   if(d.err=="invalid_webhook"){
    err="Please provide a valid https/http webhook url"
   }
   if(d.err=="invalid_invite"){
    err="Please provide a valid https/http url"
   }
   if(d.err=="no_desc"){
    err="Please provide long description"
   }
   if(d.err=="invalid_lib"){
    err="Please provide a valid discord library"
   }
   if(d.err=="invalid_desc"){
    err="Please Provide more than 100 length for Long Description"
   }
   if(d.err=="no_prefix"){
    err="Please provide a bot prefix"
   }
   if(d.err=="invalid_donate"){
    err="Please provide a URL for donate if you want donations. Or leave it blank if you don't want donations"
   }
   if(d.err=="no_invite"){
    err="Please provide a link to add your bot"
   }
   if(d.err=="invalid_support"){
     err="Please provide a valid discord.gg url"
   }
   if(d.err=="owner_not_in_server"){
    err="Either you or one of your bot owners are not in our support server. Please join/make them join our server in order to add your bot. Link in navbar"
   }
   if(d.err=="invalid_github"){
    err="Please provide a valid github repository URL"
   }
   if(!err){
    err=`Uh Oh! There's some other error. Please report the title of this notification to our github issues.`
   }
   Swal.fire({
  icon: 'error',
  title,
  text: err,
  footer: '<a href="/server">Why do I have this error?</a>'
})
  }
  else{
   Swal.fire({
    icon: 'success',
    title: "Bot Edited!",
    text: "Your bot <%= bot.tag %> was successfully edited!",
    footer: '<a href="/server">Why do I need to keep DMs open?</a>'
   }).then(()=>{
    window.location.pathname.replace(`/bots/${botid.value}`);
   });
  }
 })
}
</script>
</div>
</div>
</div>
 <%- include('partials/footer'); %>
</body>
</html>