<%- include('partials/header', {
title: "The Best Discord List for Bots, Servers, Emojis...",
desc: "Imagine a place - where you find everything about discord! Users, Servers, Bots, Emojis, Templates, PFPs and Banners, We got you covered!",
img: "/assets/img/bot/logo-512.png",
theme
}); %>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://discord.rovelstars.com"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Emojis",
        "item": "https://discord.rovelstars.com/emojis"
    }, {
        "@type": "ListItem",
        "position": 3,
        "name": "Users",
        "item": "https://discord.rovelstars.com/users"
    },
    {
        "@type": "ListItem",
        "position": 4,
        "name": "Servers",
        "item": "https://discord.rovelstars.com/servers"
    },
    {
        "@type": "ListItem",
        "position": 5,
        "name": "Bots",
        "item": "https://discord.rovelstars.com/bots"
    },{
        "@type": "ListItem",
        "position": 6,
        "name": "Server Templates",
        "item": "https://discord.rovelstars.com/templates"
    }]
}
</script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
             <img class="emoji-double" src="/assets/img/discord-copyright/logo.svg" />
                <br /><br />
                <span>Rovel Discord List</span>
            </h1>
            <h2 class="subtitle">
                Imagine a better place - where you can find everything about discord!
            </h2>
        </div>
    </div>
</section>
<div class="container is-fluid">
            <div class="section">
                <h2 class="is-size-3 has-text-centered">
                    <span><img class="logo" src="/assets/img/fire.svg" />&nbsp;Top Bots</span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered">
  <%- bots.map(bot => include('partials/newbotCard', {bot})).join(""); %>
  </div>
</div>
<div class="section">
                <h2 class="is-size-3 has-text-centered">
                    <span><img class="logo" src="/assets/img/fire.svg" />&nbsp;Top Servers</span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered">
  <%- servers.map(server => include('partials/serverCard', {server})).join(""); %>
  </div>
</div>
</div>
 <%- include('partials/footer'); %>
</body>
</html>