<%- include('partials/header', {
title: "Rovel Discord List - RDL",
desc: "Imagine a place - where you can get the next funniest emoji for your server, or find your old-lost friend, or get in your friend's server, or make an server within ten seconds or find the next perfect bot for your server, the possibilities are endless!",
img: "/assets/img/bot/logo-512.png",
imglink: "https://media.discordapp.net/attachments/775225719743053844/858604166918307880/0001-3484607606_20210627_123501_0000.png",
width: "2245",
height: "1587",
theme
}); %>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://discord.rovelstars.com"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Emojis",
        "item": "https://discord.rovelstars.com/emojis"
    }, {
        "@type": "ListItem",
        "position": 3,
        "name": "Users",
        "item": "https://discord.rovelstars.com/users"
    },
    {
        "@type": "ListItem",
        "position": 4,
        "name": "Servers",
        "item": "https://discord.rovelstars.com/servers"
    },
    {
        "@type": "ListItem",
        "position": 5,
        "name": "Bots",
        "item": "https://discord.rovelstars.com/bots"
    },{
        "@type": "ListItem",
        "position": 6,
        "name": "Server Templates",
        "item": "https://discord.rovelstars.com/templates"
    }]
}
</script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
             <img class="emoji-double" src="/assets/img/discord-copyright/logo.svg" />
                <br /><br />
                <span><%= __("title") %></span>
            </h1>
            <h2 class="subtitle">
                <%= __("desc") %>
            </h2>
        </div>
    </div>
</section>
<div class="container is-fluid">
            <div class="section">
                <h2 class="is-size-3 has-text-centered">
                    <span><img class="logo" src="/assets/img/fire.svg" />&nbsp;Top Bots<%/*=*/ __("title.bots.random") %></span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered">
  <%- bots.map(bot => include('partials/newbotCard', {bot})).join(""); %>
  </div>
</div>
<div class="section">
                <h2 class="is-size-3 has-text-centered">
                    <span><img class="logo" src="/assets/img/fire.svg" />&nbsp;Top Servers<%/*=*/ __("title.bots.random") %></span>
                </h2>
                <br />
 <div class="columns is-multiline is-centered">
  <%- servers.map(server => include('partials/serverCard', {server})).join(""); %>
  </div>
</div>
</div>
 <%- include('partials/footer'); %>
 <% if(alerts){ %>
 <script>
 var alerts = "<%= alerts %>";
 var text;
  if(alerts=="key_refreshed") text = "Your Discord OAuth2 key was updated successfully!";
  if(alerts=="logout") text = "We deleted your key from your cookies (Logged you out!) Because your key was invalid, or it was missing required permissions (scopes). Please log in again! 🙂"
  Swal.fire({title: alerts.split("_").join(" "), text, icon:"info"});
  </script>
 <% } %>
</body>
</html>