<%- include('partials/header', {
title: "Dashboard | Best Discord List",
desc: "Im sure you can't read this hehe",
img: `${user.avatarUrl(128)}`,
theme,
imglink: undefined
}); %>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero has-background-black">
  <div class="hero-body">
  <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= user.avatarUrl() %>" alt="<%= user.tag %> Avatar">
     </div>
     <div class="column is-10">
         <h1 class="title"> Welcome To Your Dashboard <%= user.username %><span class="text-muted">#<%= user.discriminator %>
   </h1><br />
   <h4 class="subtitle">
    Here you can manage your Account, Bots, and Servers!
   </h4>
   <div class="field is-grouped is-grouped-multiline">
   <div class="control" onclick="sync()">
    <div class="tags has-addons">
    <span class="tag is-outlined">Sync</span>
    <span class="tag is-success" id="sync">Data</span>
    </div>
  </div><br />
   <div class="control">
    <div class="tags has-addons">
     <span class="tag is-outlined">Balance</span>
     <span class="tag is-danger">R$ <%= (user.bal)?user.bal.toString():"0" %></span>
    </div>
  </div><br />
  </div>
  </div>
  </div>
  </div>
  </div>
 </section>
<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
  <%- include('partials/footer'); %>
</body>
</html>