<%- include('partials/header', {
title: `${server.name} Discord Server | The Best Discord Server List`,
desc: `Join ${server.name} Today! ${server.short}`,
img: (server.iconURL.startsWith("https://ui-avatars.com"))?server.iconURL.replace("&format=svg","&size=512"):server.iconURL,
theme,
imglink: undefined
}); %>
<script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "View Server",
        "item": "https://discord.rovelstars.com/servers/<%= server.id %>"
    }, {
        "@type": "ListItem",
        "position": 2,
        "name": "Join Server",
        "item": "https://discord.rovelstars.com/servers/<%= server.id %>/join"
    }]
}
</script>
</head>
<body>
 <%- include('partials/load', {theme}); %>
 <%- include('partials/navbar', {user}); %>
 <section class="hero">
  <div class="hero-body">
   <div class="container">
    <div class="columns">
     <div class="column is-2">
      <img class="avatar image is-128x128" style="margin: auto; border-radius: 50%;" src="<%= server.iconURL %>" alt="<%= server.name %> Icon">
     </div>
     <div class="column is-10">
         <h1 class="title"><%= server.name %>
   </h1><br />
   <h4 class="subtitle">
    <%= server.short %>
   </h4><br />
   <div class="columns buttons">
     <div class="column is-3">
    <a href="/servers/<%= server.id %>/join" target="_blank" class="box button is-link has-background-primary">
<span class="icon">
<i class="fad fa-plus-circle has-text-link"></i>
</span>
<span>Join</span>
</a><br />
</div>
</div>
<div class="field is-grouped is-grouped-multiline">
    <div class="control">
     <div class="tags has-addons">
     <span class="tag is-dark"><i class="fad fa-user-shield has-text-danger"></i>&nbsp;Owner</span>
     <span class="tag is-danger"><%= server.owner %></span>
     </div>
   </div><br />
   <% if(server.all){ %>
     <div class="control" id="status">
     <div class="tags has-addons">
     <span class="tag is-dark"><i class="fad fa-users has-text-info"></i>&nbsp;All</span>
     <span class="tag is-info"><%= server.all %> members</span>
     </div>
     </div><br />
     <% } if(server.online){ %>
         <div class="control" id="status">
        <div class="tags has-addons">
        <span class="tag is-dark"><i class="fad fa-circle has-text-success"></i>&nbsp;Online</span>
        <span class="tag is-success"><%= server.online %> members</span>
        </div>
        </div><br />
        <% } %>
     </div>
  </div>
  </div>
  </div>
  </div>
  </section>
 <br />
 <div class="hero">
 <div class="hero-body">
 <div class="container" style="overflow: hidden;">
  <div class="section content has-background-dark is-curved">
   <%- server.desc %>
   </div>
   </div>
   </div>
   </div>
   <%- include('partials/footer'); %>
</body>
</html>