<div class="column is-one-third is-bot-card">
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64 is-avatar">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.avatarURL.replace(".png",".webp") %>" alt="<%= bot.username %> Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
<div class="status-<%= (bot.status)?bot.status:"online" %>"></div>
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">
<span><%= bot.username %>#<span class="has-text-grey-light"><%= bot.discriminator %></span></span>
</span>
<br />
<span class="has-text-grey-light"><%= ((bot.short.length>62)?(bot.short.slice(0,62)+"..."):bot.short) %></span>
</p>
<br />
 <div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link"><span class="approx-num"><%= (bot.servers)?((bot.servers!=1)?bot.servers:"0"):"0" %></span> Servers
    </span>
    </div>
  </div><br />
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span>
    <span class="tag is-info approx-num"><%= bot.votes %></span>
    </div>
  </div><br />
  </div>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/bots/<%= bot.id %>" class="box button is-info is-outlined" style=":hover{border-color:#9b84ee;}">
<span class="icon">
<i class="fad fa-newspaper has-text-info"></i>
</span>
<span>View</span>
</a>
 <a href="<%= bot.invite %>" target="_blank" class="box button is-link is-outlined">
<span class="icon">
<i class="fad fa-plus-circle has-text-link"></i>
</span>
<span>Add</span>
</a>
</div>
</div>
</article>
</div>
</div>