<div class="column is-one-third" is-bot-card>
<div class="box has-background-dark" style="overflow: hidden; height: 100%;">
<article class="media">
<div class="media-left">
<figure class="image is-64x64">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.avatarURL %>" alt="<%= bot.username %> Avatar" onerror="this.onerror=null;this.src='/assets/img/logo.png';">
</figure>
</div>
<div style="overflow: hidden;" class="media-content">
<div class="content">
<p>
<span class="is-size-4 title has-text-default is-mobile" style="font-family: discord;">
<span><%= bot.username %></span>
</span>
<br />
<%= bot.short %>
</p>
</div>
<div class="content-footer">
<div class="buttons">
<a href="/bots/<%= bot.id %>" class="button is-info is-outlined">
<span class="icon">
<i class="bx bxs-envelope-open"></i>
</span>
<span>View</span>
</a>
<a href="<%= bot.invite %>" class="button is-link is-outlined">
<span class="icon">
<i class="bx bxs-plus-circle"></i>
</span>
<span>Add</span>
</a>
</div>
</div>
</div>
</article>
</div>
</div>