<footer class="footer">
 <div class="content has-text-centered">
<% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
     <a href="https://github.com/rovelstars" style="color: white;">Rovel Stars © 2021 All Rights Reserved.</a>
     <p class="has-text-grey-light">We are not affiliated with Discord in any way. All trademarks, copyrights and logos belong to their respective companies. Discord, Twitter And GitHub logos is owned by their respective companies.</p>
    <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
    <button id="rdl-widget" onclick="$('#rdl-widget').addClass('scale-out-center');Swal.fire({title: 'Announcement', text: '<%= process.env.ANNOUNCE || "There\'s no announcement currently." %>', imageWidth: 100,
    imageHeight: 100, imageUrl: 'https://discord.rovelstars.com/assets/img/announce.png', didRender: twemoji.parse}).then(()=>{$('#rdl-widget').removeClass('scale-out-center')});"><img src="/assets/img/announce.png" /></button>
  <% }else{ %>
  <%= "This Discord List has been copied from Rovel Discord List, please visit the original project - discord.rovelstars.com" %>
  <% } %>
 </div>
 <div class="container has-text-centered">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered">Contact Us</h1>
<br />
<p><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
<% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
<a href="//www.dmca.com/Protection/Status.aspx?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa" title="DMCA.com Protection Status" class=" has-text-centered dmca-badge"> <img loading="lazy" src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
<% } %>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" width="100%" height="auto"></img>
<script>$(document).on("click", "a", function() {
    $("#object").fadeOut();
    $("#loading").fadeOut();
});
var parts = document.getElementsByClassName("tt");
var ttarr =[];
for(const part of parts){
 ttarr.push(part.innerText);
}
<% if(req.locale!="en"){ %>
function translate(arg){
if(arg){
fetch("/api/translate",{
 method: "POST",
 headers: {
  "content-type": "application/json"
 },
 body: JSON.stringify({
  to: "<%= req.locale %>",
  text: arg
 })
}).then(r=>r.json()).then(res=>{
 if(res.err){
  Swal.fire({icon:"error", title: "Translation Error", text: res.err})
 }
 else{
return res.text;
}
})
}
else{
document.getElementById("loadtext").innerText="Translating RDL into <%= req.locale %>";
fetch("/api/translate",{
 method: "POST",
 headers: {
  "content-type": "application/json"
 },
 body: JSON.stringify({
  to: "<%= req.locale %>",
  text: ttarr
 })
}).then(r=>r.json()).then(res=>{
 if(res.err){
  Swal.fire({icon:"error", title: "Translation Error", text: res.err})
 }
 else{
const transd = res.text;
for(var i=0;i<transd.length;i++){
parts[i].innerText = transd[i];
}
if(window.twemoji=="object"){
  twemoji.parse(document.body);
}
 }
});
}
}
translate();
<% } %>
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>