<footer class="footer">
  <% if(typeof alerts == "undefined"){alerts=undefined} %>
  <% if(alerts){ %>
   <script>
   var alerts = "<%= alerts %>";
   var text;
    if(alerts=="key_refreshed") text = "Your Discord OAuth2 key was updated successfully!";
    if(alerts=="logout") text = "We deleted your key from your cookies (Logged you out!) Because your key was invalid, or it was missing required permissions (scopes). Please log in again! 🙂";
    if(alerts=="deletion") text = "Your Account was previously deleted, but you were still logined in this device. Please log in again in order to create your account. Contact support if you want back your Rovel Coins.";
    Swal.fire({title: alerts.split("_").join(" "), text, icon:"info"});
    </script>
   <% } %>
 <div class="content has-text-centered">
<% if(isCopy()){ %>
     <a href="https://github.com/rovelstars" style="color: white;">Rovel Stars © 2020-2022 All Rights Reserved.</a>
     <p class="has-text-grey-light">We are not affiliated with Discord in any way. All trademarks, copyrights and logos belong to their respective companies. Discord, Twitter And GitHub logos is owned by their respective companies.</p>
    <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
    <button id="rdl-widget" onclick="document.getElementById('rdl-widget').classList.add('scale-out-center');Swal.fire({title: 'Announcement', text: '<%= process.env.ANNOUNCE || 'There\'s no announcement currently.' %>', imageWidth: 100, imageHeight: 100, imageUrl: 'https://discord.rovelstars.com/assets/img/announce.png', didRender: twemoji.parse}).then(()=>{document.getElementById('rdl-widget').classList.remove('scale-out-center')});">
			<img src="/assets/img/announce.png" /></button>
  <% }else{ %>
  <%= "This Discord List has been copied from Rovel Discord List, please visit the original project - discord.rovelstars.com" %>
  <% } %>
 </div>
 <div class="container has-text-centered">
<br />
<h1 class="has-text-centered">Contact Us</h1>
<br />
<p><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" width="100%" height="auto"></img>
<% if(preferEmoji=="joypixels"){ %>
<script>
 globalThis.emojiopts = function(icon){
  return "https://demos.joypixels.com/latest/assets/png/" + icon + ".png";
};
</script>
<% } else if(preferEmoji=="openmoji"){ %>
<script>
globalThis.emojiopts = function(icon) {
    return "https://gitcdn.xyz/repo/hfg-gmuend/openmoji/master/color/svg/"+icon.toUpperCase()+".svg";
};
</script>
<% } else { %>
<script>
 globalThis.emojiopts = {folder: 'svg', ext: '.svg'}
</script>
<% } %>
<script>
$$("table").forEach(e=>{e.classList.toggle("table", true)});
var parts = document.getElementsByClassName("tt");
var ttarr =[];
for(const part of parts){
 ttarr.push(part.innerText);
}
function addCommas(num, opts) {
    if (opts.separator === false) {
      return num.toString();
    }
    if (num < 1000) {
      return num.toString();
    }
    var separator = (typeof opts.separator === 'string' ? opts.separator : ',');

    var out = [],
      digits = Math.round(num).toString().split('');

    digits.reverse().forEach(function(digit, i){
      if (i && i%3 === 0) {
        out.push(separator);
      }
      out.push(digit);
    });
    return out.reverse().join('');
  }
  function formatDec(num, base, opts) {
    var workingNum = num/base;
    var ROUND = opts.round ? 'round' : 'floor';
    if (opts.decimal === false) {
      num = Math[ROUND](workingNum);
      return num.toString();
    }
    if (opts.precision) {
      num = workingNum;
    } else {
      num = workingNum < 10 ? (Math[ROUND](workingNum * 10) / 10) : Math[ROUND](workingNum);
    }
    num = num.toString();
    if (typeof opts.decimal === 'string') {
      num = num.replace('.', opts.decimal);
    }
    return num;
  }
  var THOUSAND = 1000;
  var TEN_THOUSAND = 10000;
  var MILLION = 1000000;
  var BILLION = 1000000000;
  var TRILLION = 1000000000000;
function approx(num, opts) {
  if(isNaN(num)) return num;
  else if(num == Infinity || num == "Infinity") return "∞";
  else{
    var numString;
    opts = opts || {};
    var negative = num < 0;
    num = Math.abs(num);
    var thousandsBreak = opts.min10k ? TEN_THOUSAND : THOUSAND;
    if (num < thousandsBreak) {
      numString = addCommas(formatDec(num, 1, opts), opts);
    } else if (num < MILLION) {
      numString =  formatDec(num, THOUSAND, opts) + 'k';
    } else if (num < BILLION) {
      numString =  formatDec(num, MILLION, opts) + 'm';
    } else if (num < TRILLION) {
      numString =  addCommas(formatDec(num,  BILLION, opts), opts) + 'b';
    } else {
      numString = addCommas(formatDec(num,  TRILLION, opts), opts) + 't';
    }
    if (negative) {
      numString = '-' + numString;
    }
    if (opts.capital) {
      numString = numString.toUpperCase();
    }
    if (opts.prefix) {
      numString = opts.prefix + numString;
    }
    if (opts.suffix) {
      numString = numString + opts.suffix;
    }
    return numString;}
  }
$$(".approx-num").forEach(e=>{e.innerText=approx(e.innerText,{capital: true})});
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/assets/script.js"></script>
