<footer class="footer">
 <div class="content has-text-centered">
  <a href="https://github.com/rovelstars" style="color: white;"><% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
  <%= __("footer.text") %>
    <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
  <% }else{ %>
  <%= "This Discord List has been copied from Rovel Discord List, please visit the original project - discord.rovelstars.com" %>
  <% } %>
  </a>
 </div>
 <div class="container has-text-centered">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered"> - <%= __("contact-us") %> - </h1>
<br />
<p><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
<% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
<a href="//www.dmca.com/Protection/Status.aspx?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa" title="DMCA.com Protection Status" class=" has-text-centered dmca-badge"> <img loading="lazy" src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js" defer> </script>
<% } %>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" style="width:100%;"></img>
<script>
 $(window).load(function() {
  var logout = document.getElementById("logout-link");
  if(logout){
   logout.href=`/logout?redirect=${encodeURI(window.location)}`
  }
twemoji.parse(document.body,  {folder: 'svg', ext: '.svg'})
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
  });
  $(".has-dropdown").click(function(){
   $(".navbar-dropdown").toggleClass("is-hidden");
  });
   var theme = document.getElementById("meta-theme");
 if (theme) {
  theme.style.display = "none";
  const color = theme.innerText;
  document.querySelector('meta[name="theme-color"]').setAttribute('content', color);
  document.querySelector('meta[name="theme-color"]').setAttribute('msapplication-navbutton-color', color);
  var nav = document.getElementsByClassName("navbar is-fixed-top");
  nav[0].style.backgroundColor = color;
 }
 $("#object").fadeOut();
 $("#loading").fadeOut();
 var frames = document.getElementsByTagName('iframe');
 for (var frame of frames) {
  frame.setAttribute("sandbox", "allow-forms allow-popups");
 }
 var online = true;
 const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
   toast.addEventListener('mouseenter', Swal.stopTimer)
   toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
 });
 window.addEventListener('error', function(event) {
  Toast.fire({
   icon: 'error',
   title: 'Something went wrong!',
   text: event.message
  })
 });
 setInterval(() => {
  if (navigator.onLine != online) {
   if (navigator.onLine == false) {
    Toast.fire({
     icon: 'error',
     title: 'No Network!'
    });
   }
   if (navigator.onLine == true) {
    Toast.fire({
     icon: 'success',
     title: 'Network Connection Back!'
    });
   }
   online = navigator.onLine;
  }
 }, 1000);

 if (typeof(Storage) !== undefined) {
  if (localStorage.allowcookies != "yes") {
   Swal.fire({
    title: "Hey New Visitor!",
    text: "Allow us to introduce RDL!",
    imageUrl: "https://discord.rovelstars.com/assets/img/bot/logo.svg",
    imageWidth: 100,
    imageHeight: 100,
    showClass:{
     popup: ""
    },
    hideClass:{
     popup: ""
    },
    showCancelButton: false,
    showDenyButton: true,
    didRender: twemoji.parse,
    confirmButtonText: '<span>Introduce to me!</span>',
    denyButtonText: '<span>I know this site 😏</span>',
    reverseButtons: true
   }).then((result) => {
    if (result.isConfirmed) {
     Swal.fire({
      title: "We are all-in-one!",
      text: "Yeah, RDL is meant to be a list having everything from discord, from emojis, users, servers, templates & bots!",
      confirmButtonText: "<span>That's awesome!</span>"
     }).then(() => {
      Swal.fire({
       title: "We have currency!",
       text: "Rovel Coins are used throughout the site and they are very important! But don't worry, RDL Discord Bot can provide you coins so you are ready to go!",
       confirmButtonText: "<span>Wow!</span>"
      }).then(() => {
       Swal.fire({
        title: "Login Fast!",
        text: "Login if you want to contribute to RDL, or just change your preferences!",
        confirmButtonText: "<span>Sure!</span>"
       }).then(() => {
        Swal.fire({
         title: "We use cookies! 🍪",
         text: "Cause they are tasty 😋!",
         icon: "info",
         didRender: twemoji.parse,
         confirmButtonText: "<span>That's Awesome! 😎</span>"
        })
       })
      })
     }).then(() => {
      localStorage.allowcookies = "yes";
     })
    }
    else {
     Swal.fire({
      title: "We use cookies! 🍪",
      text: "Cause they are tasty 😋!",
      icon: "info",
      didRender: twemoji.parse,
      confirmButtonText: "<span>That's Awesome! 😎</span>"
     }).then(() => { localStorage.allowcookies = "yes" })
    }
   })
  }
 } else {
  Swal.fire({
   title: "Uh Oh!",
   text: "Your browser dosen't supports local storage! Please use another browser or update your browser!",
   icon: "error",
   confirmButtonText: "<span>RIP..</span>"
  }).then(() => {
   window.close();
  })
 }
});

function onHover()
{
    $("#menuImg").attr('src', 'https://discord.rovelstars.com/assets/img/bot/pet.gif');
}

function offHover()
{
    $("#menuImg").attr('src', 'https://discord.rovelstars.com/assets/img/bot/logo.svg');
}

});
</script>