<footer class="footer">
 <div class="content has-text-centered">
  <a href="https://github.com/rovelstars" style="color: white;"><% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
  <%= __("footer.text") %>
    <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
  <% }else{ %>
  <%= "This Discord List has been copied from Rovel Discord List, please visit the original project - discord.rovelstars.com" %>
  <% } %>
  </a>
 </div>
 <div class="container has-text-centered">
<!--<h1 class="has-text-centered"> - Credits to - </h1>
<br />
<p><a href="https://dscrd.info">dscrd.info</a>, <a href="https://dmod.gg">dmod.gg</a> for letting us use their APIs and integrating them to RDL!</p>-->
<br />
<h1 class="has-text-centered"> - <%= __("contact-us") %> - </h1>
<br />
<p><i class="bx bx-mail-send"></i><a href="mailto:support@rovelstars.com"> support@rovelstars.com</a></p>
<p><i class="bx bxl-discord"></i><a href="/server">&nbsp;<%= __("discord") %></a></p>
<p><i class="bx bxl-twitter"></i><a href="https://twitter.com/RovelStars">&nbsp;<%= __("twitter") %></a></p>
<% if((process.env.DOMAIN=="https://discord.rovelstars.com")&&!(process.env.DOMAIN.includes("localhost"))){ %>
<a href="//www.dmca.com/Protection/Status.aspx?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa" title="DMCA.com Protection Status" class=" has-text-centered dmca-badge"> <img loading="lazy" src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ec41cec7-ded9-46a5-88e9-ae9201b1b6aa"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js" defer> </script>
<% } %>
</div>
</footer>
<img class="footer-img" src="/assets/img/wavedown.svg" style="width:100%;"></img>
<script>
 $(document).ready(function() {
  setTimeout(()=>{
  var logout = document.getElementById("logout-link");
  if(logout){
   logout.href=`/logout?redirect=${encodeURI(window.location)}`
  }
twemoji.parse(document.body,  {folder: 'svg', ext: '.svg'})
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
  });
  $(".has-dropdown").click(function(){
   $(".navbar-dropdown").toggleClass("is-hidden");
  });
  },2000);
});
</script>