<!doctype html>
<html class="has-navbar-fixed-top" lang="<%= req.locale %>">
<head>
<meta charset="UTF-8">
<% var hex; %>
<% if(theme=="discord"){ hex="#5865F2"; } %>
<% if(theme=="dracula"){ hex="#bd93f9"; } %>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="RDL">
<meta name="apple-mobile-web-app-title" content="<%= title %>">
<meta name="theme-color" content="<%= hex %>">
<link rel="manifest" href="/manifest.json">
<meta name='dmca-site-verification' content='V3l1VVUrUlYwTlNXVDNqY0hRTWpsWjgyZmdDUVIyb3luZ1FseWZwOGpIRT01' />
<meta name="msapplication-navbutton-color" content="<%= hex %>">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image" sizes="256x256" href="<%= img %>">
<link rel="apple-touch-icon" type="image" sizes="256x256" href="<%= img %>">
    <meta name="description" content="<%= desc+(req.locale!="en")?`You're viewing this in ${req.language}`:"" %>">
    <meta name="og:image" content="<%= img %>">
    <!-- end of spam -->
    
  <title><%= (req.locale!="en")?(title+` | In ${req.language}`):title %></title>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
 <link rel="stylesheet" href="/assets/css/sa2.css">
 <script src="https://discord.rovelstars.com/assets/script.js"></script>
 <script src="https://discord.rovelstars.com/assets/js/prism.js"></script>
  <script src="https://arc.io/widget.min.js#PxMeXGd9"></script>
<script src="https://discord.rovelstars.com/assets/console.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://discord.rovelstars.com/assets/css/code.css">
  <link rel="stylesheet" href="https://discord.rovelstars.com/assets/css/<%= theme %>.css">
  <link href="/assets/css/vivify.css" rel="stylesheet" type="text/css"/>
  <style>
.loading {
  position:fixed;
  text-align:center;
    padding: 10px;
}
#text1 {
  font-style:italic;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  z-index:100;
  top:68%;
  width:100%;
}
#object {
  top:25%;
  left:42%
}
  </style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H94PBD65X6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-H94PBD65X6');
</script>