<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-primary">
    <a class="navbar-item" href="https://youtu.be/dQw4w9WgXcQ">
      <img src="https://discord.rovelstars.com/assets/img/logo.svg" width="28" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmenuthing">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarmenuthing" class="navbar-menu has-background-dark">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <span class="has-text-primary"><i class="bx bxs-home"></i></span>&nbsp;&nbsp;<%= __("navbar.home") %>
      </a>

      <a class="navbar-item" href="https://docs.rovelstars.com">
        <span class="icon has-text-info"><i class="bx bxs-book-open"></i></span>&nbsp;&nbsp;<%= __("navbar.documentation") %>
      </a>
          <a class="navbar-item" href="/emojis">
            <span class="icon has-text-warning"><i class="bx bxs-wink-smile"></i></span>&nbsp;&nbsp;<%= __("navbar.emojis") %>
          </a>
          <a class="navbar-item" href="/users">
            <span class="icon has-text-info"><i class="bx bxs-user-account"></i></span>&nbsp;&nbsp;<%= __("navbar.users") %>
          </a>
          <a class="navbar-item" href="/servers">
            <span class="icon has-text-success"><i class="bx bxs-server"></i></span>&nbsp;&nbsp;<%= __("navbar.servers") %>
          </a>
          <a class="navbar-item" href="/bots">
           <span class="icon has-text-danger"><i class="bx bxs-bot"></i></span>&nbsp;&nbsp;<%= __("navbar.bots") %>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/server">
            <span style="color: #5865F2;"><i class="bx bxl-discord"></i></span>&nbsp;&nbsp;Join Discord Server
          </a>
          <a class="navbar-item" href="https://github.com/rovelstars/rovel-discord-list">
           <i class="bx bxl-github"></i><i class="bx bx-code-alt"></i>&nbsp;&nbsp;Source Code
          </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         <% if(!user){ %>
          <a class="button is-primary" href="/login">
            <i class="bx bxs-chevron-right-circle"></i>&nbsp;&nbsp;Log in</a>
            <% } else { %>
              <a class="button is-danger" href="/logout" id="logout-link">
            <i class="bx bxs-chevron-left-circle"></i>&nbsp;&nbsp;Log out</a>
             <a class="button" style="background-color: #5865F2;color: #ffffff;" href="/dashboard">
              <i class="bx bxs-grid-alt"></i>&nbsp;&nbsp;DashBoard
             </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
 $(document).ready(function() {
  var logout = document.getElementById("logout-link");
  if(logout){
   logout.href=`/logout?redirect=${encodeURI(window.location)}`
  }
twemoji.parse(document.body,  {folder: 'svg', ext: '.svg'})
  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
  });
   $(".avatar").addClass("vivify popIn");
   $(".is-announcement").addClass("vivify fadeInBottom");
   $(".is-bot-card").addClass("vivify popIn");
});
</script>