<div class="bot-card">
<figure class="image is-64x64 bc-avatar is-avatar">
<img width="64" height="64" class="is-rounded" loading="lazy" src="<%= bot.avatarURL.replace(".png",".webp") %>" alt="<%= bot.username %> Avatar" onerror="this.onerror=null;this.src='/assets/img/bot/profile.svg';">
<div class="status-<%= (bot.status)?bot.status:"online" %>"></div>
</figure>
 <span class="username">
<span><%= bot.username %></span>
</span>
 <div class="bc-content has-background-dark" 
style="background-image:url(<%= bot.bg || "" %>);background-size:cover">
  <div class="info">
   <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-server has-text-link"></i>&nbsp;In</span>
    <span class="tag is-link"><span class="approx-num"><%= (bot.servers)?((bot.servers!=1)?bot.servers:"0"):"0" %></span> &nbsp;Servers
    </span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
    <span class="tag is-black"><i class="fad fa-caret-circle-up has-text-info"></i>&nbsp;Votes</span>
    <span class="tag is-info approx-num"><%= bot.votes %></span>
    </div>
  </div>
   </div>
   <div class="description has-background-dark is-curved" style="opacity: 0.9;border-radius: 5px;">
    <p style="font-family: K2D;padding: 10px 10px;"><%= bot.short %></p>
   </div>
   <div class="bc-buttons">
<a href="/bots/<%= bot.id %>" class="box button is-info is-outlined" style=":hover{border-color:#9b84ee;}">
<span class="icon">
<i class="fad fa-newspaper has-text-info"></i>
</span>
<span>View</span>
</a>
 <a href="<%= bot.invite %>" target="_blank" class="box button is-link is-outlined">
<span class="icon">
<i class="fad fa-plus-circle has-text-link"></i>
</span>
<span>Add</span>
</a>
    </div>
 </div>
</div>